<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="itenium" value="https://nuget.pkg.github.com/Itenium-Forge/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="itenium">
      <package pattern="Itenium.*" />
    </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <itenium>
        <add key="Username" value="TomNok" />
        <add key="ClearTextPassword" value="" />
      </itenium>
  </packageSourceCredentials>
</configuration>
